
@import "tailwindcss";


@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@theme{
  --text-h2: 21px;
  --text-h3: 17px
}

.text-color1{
  color: #2D2D2D;
}


body {
  font-family: 'Lora', serif;
  background-color: white;
}